@*
     
*@
@{
    @using Final_Project.Models;
}

<div>
     <a method="get" asp-action="ChangePasssword" asp-controller="Account" asp-area="">
               <input type="submit" value="Change Password"
                class="btn btn-outline-dark" />
     </a>
</div>
