@using Final_Project.Areas.Team.Models.ViewModels;
@model Final_Project.Areas.Team.Models.ViewModels.AddTeamModel
@{
    ViewBag.Title = "Add Team";
}

<h2>Add Team</h2>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form method="post" asp-action="AddTeam">
    <div class="row mb-2">
        <label class="col-form-label col-md-2">Number:</label>
        <div class="col-md-4">
            <input asp-for="Number" class="form-control" />
        </div>
        <div class="col">
            <span asp-validation-for="Number" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-2">
        <label class="col-form-label col-md-2">Name:</label>
        <div class="col-md-4">
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="col">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-2">
        <label class="col-form-label col-md-2">Description:</label>
    <div class="col-md-4">
        <input asp-for="Description" class="form-control" />
    </div>
    <div class="col">
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    </div>
    <div class="row mb-2">
        <label class="col-form-label col-md-2">About this team (long):</label>
        <div class="col-md-4">
            <textarea asp-for="about" class="form-control" rows="6" cols="6"></textarea>
        </div>
        <div class="col">
            <span asp-validation-for="about" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-2">
        <label class="col-form-label col-md-2">Program:</label>
        <div class="col-md-4 dropdown" >
           <!-- <button class="dropdown-toggle">Team Type</button-->
            <div class="dropdown" >
                <select asp-for="Prgm"class="dropdown">
                <option>Select Team Type</option>
                <option>FRC</option>
                <option>FTC</option>
                <option>FLL</option></select>
            </div>
            <div class="col">
                <span asp-validation-for="Prgm" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col offset-md-2">
            <button type="submit" class="btn btn-primary">Add</button>
            <a asp-action="Index" asp-controller="Team" class="btn btn-primary">Cancel</a>
        </div>
    </div>
    </form>
