@model Final_Project.Areas.Team.Models.DomainModels.Team
<h1>Details</h1>
<h2>@Model.number</h2>
<div>
</div>
<h2>@Model.name</h2>
<div>
</div>
<h2>@Model.description</h2>
<a asp-action="Index" asp-controller="Team" class="btn btn-primary">Back</a>

