@using Final_Project.Areas.Student.Models.DomainModels;
@model Final_Project.Areas.Student.Models.ViewModels.MessageViewModel
@{
    ViewData["Title"] = " | Messages";
}

<h1 class="mb-2">Messages</h1>

<h5 class="mt-2"><a asp-action="PostMessage">Post a message</a></h5>

<table class="table table-bordered table-striped table-sm">
    <thead>
        <tr><th>Username</th><th>Title</th><th>Body</th><th></th><th></th></tr>
    </thead>
    <tbody>
    @if (Model.Messages.Count() == 0)
    {
        <tr><td colspan="5">There are no Messages</td></tr>
    }
    else
    {
             
        @foreach (Message msg in Model.Messages)
        {
            <tr>
            <td>@msg.UserName</td>
            <td>@msg.Title</td>
            <td>@msg.Body</td>
                    
                    @if (User.IsInRole("Admin") || msg.UserName == User.Identity?.Name)
                    {
                        <td>
                            <form method="post" asp-action="Delete"
                      asp-route-id="@msg">
                                <button type="submit" class="btn btn-primary">
                                    Delete Message
                                </button>
                            </form>
                        </td>
                    }
                </tr>
        }
                
    }
    </table>