@using Final_Project.Models.DomainModels;
@using Final_Project.Areas.Mentor.Models;
@model Final_Project.Areas.Student.Models.ViewModels.PostMessageModel
@{
    ViewBag.Title = "Post Message";
}

<h2>Post Message</h2>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form method="post" asp-action="PostMessage">
    <div class="row mb-2">
        <label class="col-form-label col-md-2">Title:</label>
        <div class="col-md-4">
            <input asp-for="Title" class="form-control" />
        </div>
        <div class="col">
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-2">
        <label class="col-form-label col-md-2">Body:</label>
        <div class="col-md-4">
            <textarea asp-for="Body" class="form-control" rows="6"></textarea>
        </div>
        <div class="col">
            <span asp-validation-for="Body" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-2">
        <label class="col-form-label col-md-2">Private Message?:</label>
        <div class="col-md-4 dropdown">
            <!-- <button class="dropdown-toggle">Team Type</button-->
            <div class="dropdown">
                <select asp-for="isPM" class="dropdown">
                    
                    <option>True</option>
                    <option>False</option>
                </select>
            </div>
            <div class="col">
                <span asp-validation-for="isPM" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <label class="col-form-label col-md-2">Recipient (leave blank if public):</label>
        <div class="col-md-4 dropdown">
            <!-- <button class="dropdown-toggle">Team Type</button-->
            <div class="dropdown">
                <select asp-for="Recip" class="dropdown">
                    <option>Select Recipient</option>
                @foreach (Account acc in Model.Users)
                    {
                        <option>@acc.UserName</option>
                    }
                </select>
            </div>
            <div class="col">
                <span asp-validation-for="isPM" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col offset-md-2">
            <button type="submit" class="btn btn-primary">Post</button>
            <a asp-action="MessageBoard" asp-controller="Message" class="btn btn-primary">Cancel</a>
        </div>
    </div>
    </form>
