@model Final_Project.Areas.Student.Models.ViewModels.ReplyMessageModel
@{
    ViewBag.Title = "Post Reply";
}

<h2>Post Reply</h2>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form method="post" asp-action="ReplyMessage">
    <div class="row mb-2">
        <label class="col-form-label col-md-2">Message:</label>
        <div class="col-md-4">
            <textarea asp-for="Title" class="form-control"></textarea>
        </div>
        <div class="col">
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
    </div>
    <input type="hidden" asp-for="ParentId" />
    <div class="row">
        <div class="col offset-md-2">
            <button type="submit" class="btn btn-primary">Post</button>
            <a asp-action="MessageBoard" asp-controller="Message" class="btn btn-primary">Cancel</a>
        </div>
    </div>
    </form>
