@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">About 6419</h1>
    <p>STATIC PAGE UNDER CONSTRUCTION</p>
    <img src="download.png" alt="Ice Image" />
</div>
