@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">About Us</h1>
    <p>STATIC PAGE UNDER CONSTRUCTION</p>
    <img src="~/Images/f.png" alt="Ankeny Image" />
</div>
