@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Ankeny Robotics!</h1>
    <p>Ankeny Robotics is the parent organization for two teams: 5126 D.I.C.E., and 21746 CADapillars.</p>
</div>
