@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<h1>Don't be dumb.'</h1>
<p>This site is for use only by members of ICE robotics.</p>
<p>practice Gracious professionalism.</p>
