@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">affilliated teams</h1>
    
</div>
<table class="table table-bordered table-striped table-sm">
 <thead>
        <tr><th>Message</th><th>Action</th><th></th><th></th><th></th></tr>
    </thead>
    <tbody>

        </table>
