<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 6419</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Final_Project.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 navbar-fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img id="img_logo" alt="Logo" src="~/Images/download.png" width="50"height="50"/></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="true" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                    <ul class="navbar-nav flex-grow-1">
                     <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">About</a><!--Make the action for this-->
                     </li>
                     <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="Team" asp-controller="Team" asp-action="Index">Teams</a><!--Make the action for this-->
                     </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="VolunteerRequest" asp-controller="Request" asp-action="Request">Volunteer</a><!--Make the action for this-->
                    </li>
                     @if(signInManager.IsSignedIn(User)&&(User.IsInRole("Student")||User.IsInRole("Admin")))
                     {
                         <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Student" asp-controller="Message" asp-action="MessageBoard">Message Board</a><!--Make the action for this-->
                         </li>
                        <li class="nav-item dropdown">
                            <form method="get" asp-area="MemberLinks" asp-controller="Link"asp-action="Links"itemid="teamType">
                            <select name="teamType" class="form-control" onchange="document.forms[0].submit();"><option>Team Resources</option><option>FRC</option>
                <option>FTC</option>
                <option>FLL</option></select>
                           

                            </form>
                            
                        </li>
                        <!--<li class="nav-item dropdown">
                            <a asp-action="Index" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                                <li class="divider"></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>-->
                        <!--li class="nav-item-dropdown">
                            <div class="row mb-2">
                                <label class="col-form-label col-md-2">Member Resources:</label>
                                <div class="col-md-4 dropdown">
                                    <!- <button class="dropdown-toggle">Team Type</button
                                    <div class="dropdown">
                                        <select asp-area="MemberLinks" asp-controller="Link" asp-action="Links" asp-route-id="teamType" class="dropdown">
                                            <option>Select Team Type</option>
                                            <option>FRC</option>
                                            <option>FTC</option>
                                            <option>FLL</option>
                                        </select>
                                    </div>

                                </div>
                            </div>
                        </li>-->
                            
                          
                     }
                </ul>
                <div class="navbar-fixed-top d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 mr-auto">
                        @using Final_Project.Models.DomainModels;
                        @using Microsoft.AspNetCore.Identity
                        @inject SignInManager<Account> signInManager
                         @if (!signInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="AcctArea" asp-controller="Acct" asp-action="Acct">Log In</a><!--Make the action for this-->
                            </li>
                        }
                        @if (signInManager.IsSignedIn(User))
                        {
                        // signed-in user - Log Out button and username displayed
                            <li class="nav-item">
                                <form method="post" asp-action="LogOut" asp-controller="Account"
                                  asp-area="">
                                    <input type="submit" value="Log Out"
                                       class="btn btn-outline-dark" />

                                </form>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="AcctArea" asp-controller="Acct" asp-action="Acct">My Account</a><!--Make the action for this-->
                            </li>
                            @if (User.IsInRole("Admin")) {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Mentor" asp-controller="User" asp-action="Approval">Admin</a><!--Make the action for this-->
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - 6419 ICE
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
